<div class="flex flex-col">
    @if(state==="SCHUPF") {
    <div class="flex flex-col items-stretch">
        <div class="h-96 flex flex-row justify-stretch gap-20">
            @for( s of schupf; track s.caption ) {
            <div class="flex-1 flex flex-col items-stretch">
                <div class="text-center">{{s.caption}}</div>
                <div  (cdkDropListDropped)="handleDrop($event)" cdkDropList [cdkDropListData]="s" [id]="s.key"
                    [cdkDropListConnectedTo]="['deckDropTarget']"
                    cdkDropListOrientation="horizontal" class="bg-slate-300 flex-1 flex justify-center ">
                    @if(s.card(); as card) {
                    <div cdkDrag [cdkDragData]="card">
                        <app-card [cardcode]="card" [selectable]="false"></app-card>
                    </div>

                    }

                </div>
            </div>
            }
        </div>
        <div class="flex justify-center">
            <button [disabled]="!schupfFini()" (click)="sendSchupfedCards()" class="btn">Schupf</button>
        </div>
    </div>
    } @else if (state === "SCHUPFED") {
    <div class="flex flex-col items-stretch">
        <div class="h-96 flex flex-row justify-around">
            @for( s of schupfed; track s.caption ) {
            <div>
                {{s.caption}}
                <div class="bg-slate-300 h-[200px] w-[200px] flex">
                    @if(s.card; as card) {
                    <div>
                        <app-card [cardcode]="card"></app-card>
                    </div>
                    }

                </div>
            </div>
            }
        </div>
        <div class="flex justify-center">
            <button (click)="sendSchupfedAck()" class="btn">Ack Schupf</button>
        </div>
    </div>
    }

    <div class="flex flex-row">
        <div class="flex flex-col gap-10">
            <!-- todo: enable / disable buttons -->
            @if(state==="EIGHT_CARDS") {
            <button (click)="sendAckBigTichu()" class="btn">No Big Tichu</button>
            } @else if (state==="PRE_SCHUPF") {
            <button (click)="sendAckTichuBeforeSchupf()" class="btn">No Before Schupf</button>
            } @else if (state==="POST_SCHUPF") {
            <button (click)="sendAckTichuAfterSchupf()" class="btn">No After Schupf</button>
            } @else if (state ==="YOURTURN") {
            <button (click)="playCards()" class="btn">Play Cards</button>
            }
            <button (click)="resend()" class="btn">Resend</button>

        </div>
        <div class="flex flex-row gap-10 max-w-[100vw]" cdkDropList [cdkDropListData]="displaycards" id="deckDropTarget" 
        [cdkDropListConnectedTo]="schupf|pluck:'key'"
            (cdkDropListDropped)="handleDrop($event)" cdkDropListOrientation="horizontal" [formGroup]="fg">
            @for(card of displaycards; track card) {
            <div class="-ml-[150px] first:ml-0" cdkDrag>
                <app-card [formControlName]="card" [cardcode]="card"></app-card>
            </div>
            <!-- {{card|json}} -->
            }
        </div>
    </div>
    @if( state === "GAME" ||state === "YOURTURN" ) {
    @if(lastTrick()){
    <h2>last trick</h2>
    <app-tabledisplay [table]="lastTrick()"></app-tabledisplay>
    }
    <app-tabledisplay [table]="table"></app-tabledisplay>
    }

    <div>
        <!-- {{points|json}} -->
        <app-gamelog [points]="points"></app-gamelog>
    </div>
</div>