<div class="flex flex-col">
    @if( state === "OTHERS_TURN" ||state === "YOURTURN" || state === "GIFT_DRAGON") {
    <div class="flex-col">
        <div class="text-center flex flex-col items-stretch">
            <div>Partner {{players?.partner}} {{cardCounts?.partner}}</div>
            <div class="flex flex-row justify-center">
                @for(i of cardCounts?.partner|iter; track i) {
                <div class="rounded-md border-slate-800 border-2 w-10 h-14 -ml-7 first:ml-0 bg-slate-400"
                
                    [style.marginTop]="r()+'px'"
                >{{i}}</div>
                }
            </div>
        </div>
        <div class="flex flex-row flex-nowrap justify-stretch">
            <div>
                <div> Left {{players?.li}} {{cardCounts?.li}}</div>
                <div class="flex flex-col">
                    @for(i of cardCounts?.li|iter; track i) {
                    <div class="rounded border-slate-800 border-2 w-10 h-14 -mt-10 first:mt-0  bg-slate-400"
                    [style.marginLeft]="i+'px'"
                    >{{i}}</div>
                    }
                </div>
            </div>
            <div class="flex-1">
                @if(lastTrick()){
                <h2>last trick</h2>
                <app-tabledisplay [table]="lastTrick()"></app-tabledisplay>
                }
                <app-tabledisplay [table]="table"></app-tabledisplay>
                Table
            </div>
            <div>Right{{players?.re}}{{cardCounts?.re}}
                <div class="flex flex-col">
                    @for(i of cardCounts?.re|iter; track i) {
                    <div class="rounded border-slate-800 border-2 w-10 h-14 -mt-10 first:mt-0 bg-slate-400">{{i}}</div>
                    }
                </div>
            </div>
        </div>
        <div>YOU {{players?.you}} {{cardCounts?.you}}</div>
    </div>
    }

    <app-schupf-display [state]="state" [message]="schupfmessage" [gameId]="gameId"></app-schupf-display>
    <div class="flex flex-row">
        <div class="flex flex-col gap-10">
            <!-- todo: enable / disable buttons -->
            @if (state ==="YOURTURN") {
            <button (click)="playCards()" class="btn">Play Cards</button>
            }
            {{selectedCards()|json}}
            <button (click)="resend()" class="btn">Resend</button>

        </div>
        <app-deck-display [cards]="displaycards" (selectedCards)="selectedCards.set($event)"></app-deck-display>
    </div>
    <div>
        <!-- {{points|json}} -->
        <app-gamelog [points]="points"></app-gamelog>
    </div>
</div>