<div class="flex flex-col" cdkDropListGroup>
    <div class="flex flex-col items-stretch">
    <div class="h-96 flex flex-row justify-around">
        @for( s of schupf; track s.caption ) {
        <div>
            {{s.caption}}
            <div (cdkDropListDropped)="handleSchupf($event)" 
            cdkDropList [cdkDropListData]="s"
            cdkDropListOrientation="horizontal"
                class="bg-slate-300 h-[200px] w-[200px] flex">
                @if(s.card(); as card) {
                <div cdkDrag>
                    <app-card [cardcode]="card"></app-card>
                </div>

                }

            </div>
        </div>
        }
    </div>
    <div class="text-center">
    {{schupfFini()}}
    </div>
    </div>

    <div class="flex flex-row">
        <div class="flex flex-col gap-10">
            <button (click)="sendAckBigTichu()" class="btn">No Big Tichu</button>
            <button (click)="sendAckTichuBeforeSchupf()" class="btn">No Before Schupf</button>
            <button (click)="sendAckTichuAfterSchupf()" class="btn">No After Schupf</button>
        </div>
        <div class="flex flex-row gap-10 max-w-[100vw]" cdkDropList [cdkDropListData]="displaycards"
            (cdkDropListDropped)="handleDrop($event)" cdkDropListOrientation="horizontal">
            @for(card of displaycards; track card) {
            <div class="w-[50px]" cdkDrag>
                <app-card [cardcode]="card"></app-card>
            </div>
            <!-- {{card|json}} -->
            }
        </div>
    </div>
</div>